<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/static/lang-logo.png">
    </a>
    <h1>Welcome to example web application with Yocova authorization support.</h1>
    To proceed please visit one of the secured pages: <a class="btn btn-primary" role="button" href="securedPage1">page 1</a> or <a class="btn btn-primary" role="button" href="securedPage2">page 2</a>
</div>

</body>
</html>
