<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'oauth_login')}">
<head>
    <title>Login page example</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/main.css" />
</head>

<body>
<div class="container">
    <div class="col-sm-3 well">
        <h3>Login with:</h3>
        <div class="list-group">
            <p>
                <a href="oauth2/authorize-client/salesforce" class="list-group-item active">Login with Yocova</a>
            </p>
            <p>
                <a href="oauth2/authorize-client/google" class="list-group-item">Login with Google</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>